{% extends 'base.html.twig' %}

{% block body %}
    <h3>Summaries</h3>

    {% if app.user %}
        <div class="row">
            <a href="{{ path('summary.create') }}" class="btn btn-primary">Create</a>
        </div>
    {% endif %}

    <div class="row" id="response">

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            let xhr = new XMLHttpRequest();
            let responseBlock = document.querySelector('#response');

            xhr.open('POST', 'api/summary/load');

            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    responseBlock.innerHTML = xhr.responseText;
                }
            }

            xhr.send();
        });

        $(document).on('click', '.page-link', function (e) {
            e.preventDefault();
            let xhr = new XMLHttpRequest();
            let page = new URLSearchParams(this.search).get('page');
            let responseBlock = document.querySelector('#response');

            if (page) {
                xhr.open('GET', '/api/summary/load/?page=' + page);

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        responseBlock.innerHTML = xhr.responseText;
                    }
                }

                xhr.send();
            }
        })
    </script>

{% endblock %}